---
import Layout from "../layouts/Layout.astro";
import TodosReact from "../components/react/TodosReact";
import TodosVue from "../components/vue/TodosVue.vue";
import TodosSolid from "../components/solid/TodosSolid";
import TodosSvelte from "../components/svelte/TodosSvelte.svelte";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-screen bg-slate-700">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 grid-row-2 w-full min-h-screen max-h-1/4"
    >
      <TodosReact client:load />
      <TodosVue client:load />
      <TodosSvelte client:load />
      <TodosSolid client:load />
    </div>
  </main>
</Layout>
